.jumbotron
{
	background-color:rgba(13, 10, 27,0.9);
	position:relative;
	margin-bottom:0%;
}
.heading
{
	margin-top:30%;
}
i
{
	margin-right:1%;
}
#welcome
{
	font-weight:700;
	font-family:handlee;
	margin-top:0px;
	color:rgb(0, 153, 255);
}
.second
{
	font-weight:700;
	font-family:handlee;
	color:rgb(0, 153, 255);
	height:20em;
}
.social
{
	
}
.btn-group
{
	text-align:center;
	margin-top:5%;
	border:none;
	font-family:cursive;
	
}
.btn-group >a
{
	opacity:0.5;
	background-color:transparent;
	width:20em;
	height:20em;
	border-color:white;
	color:white;
	transition:1000ms;
	border:none;
	
}
.btn-group >a:hover
{
	border-width:2px;
	border-color:white;
	opacity:0.5;
	background-color:rgb(0, 255, 204);
	transition:1000ms;
	
}
.inButton
{
	font-family:handlee;
}
body
{	
	background:url(http://i.imgur.com/Rh6spHa.jpg);
	background-size:100% 100%;
	overflow-y:hidden;
}